@media (max-width: 812px) {
    .box{
         width: 10rem;
         height: 21rem;
      }

      .title{
        font-size: 1.5rem;
      }

      p{
        font-size: 0.8rem;
      }

      .sub-title{
        font-size: 1rem;
      }

      .acc-btn{
        width: 152px;
        height: 40px;
        font-size: 1rem;
      }

      li span{
        font-size: 0.8rem;
      }
  }